.places__paragraph {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

@media (min-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 29px;
  }
}