.places {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .places {
    padding-top: 88px;
  }
}

@media (min-width: 1024px) {
  .places {
    padding-top: 92px;
  }
}

@media (min-width: 1280px) {
  .places {
    align-self: center;
  }
}

